body{
    font-family: 'Roboto', sans-serif;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* HEADER */

.header {
    background-color: #E7E9FC;
}

.header-nav {}

.logo-studio {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: calc(24/18);
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}

.logo-web{
font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-list {}

.header-item {}

.header-link {
    font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.header-address {
    font-style: normal;
}

.header-adr-list {}

.header-adr-item {}

.header-adr-link {
    font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #434455;
}

/* MAIN HERO */

.main-hero {
    background-color: #2E2F42;
}

.main-hero-slogan {
    font-weight: 700;
        font-size: 56px;
        line-height: calc(60/56);
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.main-btn {
    background: #4D5AE5;
    font-weight: 500;
        font-size: 16px;
        line-height: calc(24/16);
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}

/* MAIN OUR STRENTH */

.main-strenth {}

.main-strenth-list {}

.main-strenth-title {
    font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.main-strenth-text {
    font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #434455;
}

/* MAIN WHAT WE ARE DOING */

.main-doing {
    font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.main-doing-list {}

.main-doing-item {}

/* OUR TEAM */

.team-section{
    background-color: #F4F4FD;
}

.team {
    font-weight: 700;
        font-size: 36px;
        line-height: calc(40/36);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.team-list {}

.team-list-title {
    font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team-list-text {
    font-size: 16px;
        line-height: calc(24/16);
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
}

/* FOOTER */

.footer {
    background-color: #2E2F42;
}

.footer-slogan {
    font-size: 16px;
        line-height: calc(24/16);
        letter-spacing: 0.02em;
        color: #E7E9FC;
}

.logo-studio-white{
font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
/* PORTFOLIO */
.portofolio{
    background-color: #E7E9FC;
}
.portf-btn {
    background-color: #E7E9FC;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}
.portf-btn:hover,
.portf-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
.portf-btn {
}